<!-- Author: LuisAndia  -->
<div>
	<h2>nav</h2>
	<a [routerLink]="['HomePage']" class="nav-button">Home Page</a>
</div>
<table>
<thead>
<tr>
     <th>ID</th>   
     <th>Nombre</th>
     <th>Genero</th>
     <th>Descripcion</th>
     <th>Pais</th>
     <th>Ciudad</th>
  </tr>
</thead>
<tbody border="1">
	<tr *ngFor="#artista of artistas">
		<td>{{artista.id}}</td>
		<td>{{artista.name}}</td>
		<td>{{artista.genero}}</td>
		<td>{{artista.descripcion}}</td>
		<td>{{artista.pais}}</td>
		<td>{{artista.ciudad}}</td>
	</tr>
</tbody>
</table>

